@model IEnumerable<CollegeWeb.Models.ViewModel>


<h2>ViewSubjects</h2>



@{
    ViewBag.Title = "ViewSubjects";
}


<a type="button" class="btn btn-primary btn" href="@Url.Action("AddSubject","Admin")"

        <span>Add New Subject</span>
    </a>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        @*<th>
                @Html.HiddenFor(model => model.SubjectId)
            </th>*@

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.SubjectId)
            </td>

            <td>
                @Html.ActionLink("Edit", "EditSubject", new { id = item.SubjectId }) |

                @Html.ActionLink("Delete", "DeleteSubject", new { id = item.SubjectId })
            </td>
        </tr>
    }

</table>
@*<div class=" form-group row col-md-12 text-right">
    <a type="button" class="btn btn-primary btn" href="@Url.Action("HomePage","Admin",new { id =Session["AdminId"] })"

    <span>Back To HomePage</span>
</a>
</div>*@







