@model IEnumerable<CollegeWeb.Models.ViewModel>
@{
    ViewBag.Title = "ViewSubjectAndTeacher";
}

<h2>View Subject And Teacher</h2>
<table class="table">
    <tr>
        <th>@Html.Label("Teacher")
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.Label("Teacher")
            @Html.DisplayNameFor(model => model.LastName)
            </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>

    </tr>

        
   

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>

        Model
        <td>
            @Html.ActionLink("Assign Subject To Teacher", "AssignTeacherToSubject", new { id = item.UserId }) 

        </td>
    </tr>
    }

</table>
@*<div class=" form-group row col-md-12 text-right">
    <a type="button" class="btn btn-primary btn" href="@Url.Action("HomePage","Admin",new { id =Session["AdminId"] })"

    <span>Back To HomePage</span>
</a>
</div>*@




