@model IEnumerable<CollegeWeb.Models.ViewModel>
@{
    ViewBag.Title = "ShowStudentsList";
}

<h2>View Students List</h2>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>


      
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
      
        <td>
            @Html.ActionLink("View Student Profile", "ViewStudentProfile", new { id = item.UserId })


        </td>
    </tr>
    }

</table>
<div>
    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("TeacherHomePage","Teacher")">
     
        <span>Back To Home Page</span>
    </a>
</div>



