
@model IEnumerable<CollegeWeb.Models.ViewModel>
@{
    ViewBag.Title = "ViewCourses";
}

<h2>ViewCourses</h2>
<a type="button" class="btn btn-primary btn" href="@Url.Action("AddCourse","Admin")"

        <span>Add New Course</span>
    </a>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        @*<th>
                @Html.HiddenFor(model => model.CourseId)
            </th>*@

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.CourseId)
            </td>

            <td>
                @Html.ActionLink("Edit", "EditCourse", new { id = item.CourseId }) |

                @Html.ActionLink("Delete", "DeleteCourse", new { id = item.CourseId }) |
                @Html.ActionLink("Back To HomePage", "HomePage", new { id = item.UserId })
            </td>
        </tr>
    }

</table>








